/*
Div that contain the wordCloud
*/
#wordCloud {
  -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;

    margin-bottom: 25px;
}

/*
Play pasue skills button
*/
.playpause {
  display: inline-block;
}
.playpause label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 45px;
  cursor: pointer;
  border-color: transparent transparent transparent #337cbb;
  transition: 100ms all ease;
  will-change: border-width;
  border-style: double;
  border-width: 0px 0 0px 45px;
}
.playpause input[type='checkbox'] {
  visibility: hidden;
  position: absolute;
}
.playpause input[type='checkbox']:checked + label {
  border-style: solid;
  border-width: 25px 0 20px 40px;
}
/*
Button of show all on skills
*/
.showall {
  background-color: #e1e1e1;
  vertical-align: top !important;
}

/*
Chart container
*/
.chart-container {
  position: relative;
  margin: auto;
  height: 60vh;
  max-height: 300px;
  /*width: 80vw;*/
}
